<h1>Good day! <%= @user.email%>!</h1>
<p>Thank you for your registering as a broker in Stockpile!<br>
    We just need for you to wait for your approval from one of our admins and you will be good to go!
</p>