@import 'base';

.table,
.admin-table {
  @include flexCenter(row, center);
  width: calc(100% - 20rem);
  justify-content: center;
  margin-left: 16rem;

  Caption {
    margin-top: 1em;
    font-size: var(--fs-h2);
    text-align: center;
    letter-spacing: 0.5rem;
    position: relative;

    .search-bar {
      position: absolute;
      top: -0.1em;
      left: 0;

      input[type='submit'] {
        cursor: pointer;
        background: var(--clr-accent-dark);
        border: none;
        outline: none;
        padding: 0.5em 2em;
        border-radius: 0.4rem;
        color: var(--clr-light);
        font-size: var(--fs-label);
      }
    }
  }

  .content-table,
  .admin-content-table {
    border-collapse: collapse;
    margin: 1em 0;
    min-width: var(--w-table);
    box-shadow: var(--bs);

    thead {
      th {
        font-size: var(--fs-body);
      }

      tr {
        background-color: var(--clr-accent-darker);
        color: var(--clr-light);
        text-align: left;
        font-weight: var(--fw-bold);
      }
    }

    th,
    td {
      padding: 0.9em 1em;
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--clr-accent-lighter);

        &:nth-child(odd) {
          background-color: #f3f3f3;
        }

        &:last-of-type {
          border-bottom: 2px solid var(--clr-accent-darker);
        }
      }
      td {
        font-size: var(--fs-label);
      }
    }
  }
}

.button {
  cursor: pointer;
  background: var(--clr-accent-dark);
  border: none;
  outline: none;
  padding: 0.5em 2em;
  border-radius: 0.4rem;
  color: var(--clr-light);
  font-size: var(--fs-label);
}
